<section class="container-fluid">
  <button class="btn btn-outline-primary" (click)="darkMode()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-moon"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
      />
    </svg>
  </button>
  <div class="grid text-center">
    <h1>Realidad Aumentada</h1>
    <p>
      La <strong>realidad aumentada (RA)</strong> es una tecnología que
      <strong
        >superpone información digital y elementos generados por ordenador al
        entorno real</strong
      >, creando una experiencia inmersiva e interactiva en el mundo virtual<sup
        >[1]</sup
      >
    </p>
    <p>
      Aquí están las <strong>ventajas</strong> e
      <strong>inconvenientes</strong> de la realidad aumentada:
    </p>
    <h2>Ventajas de la realidad aumentada</h2>
    <ol>
      <li>
        <strong>Mejora de la experiencia del usuario</strong>: La RA enriquece
        las experiencias de los usuarios al proporcionar información adicional y
        contenidos interactivos. Permite ver e interactuar con elementos
        virtuales en tiempo real, lo que hace que el entorno sea más atractivo y
        cautivador.
      </li>
      <li>
        <strong>Integración en el mundo real</strong>: A diferencia de la
        realidad virtual (VR), que crea un entorno completamente simulado, la RA
        integra elementos virtuales en el entorno del mundo real. Por ejemplo,
        aplicaciones como <em>Pokémon Go</em> utilizan la RA en teléfonos
        inteligentes, permitiendo a los usuarios interactuar simultáneamente con
        lo real y lo digital.
      </li>
      <li>
        <strong>Superposición de información</strong>: La tecnología de RA puede
        superponer información digital sobre la vista del usuario,
        proporcionando contexto y datos valiosos. Por ejemplo, las aplicaciones
        de RA pueden mostrar datos GPS, direcciones o puntos de interés en una
        imagen de cámara en tiempo real, mejorando la navegación y la
        exploración.
      </li>
      <li>
        <strong>Aplicaciones prácticas</strong>: La RA tiene aplicaciones en
        diversos sectores, como simulaciones de formación, visualización
        arquitectónica, creación de prototipos de productos, colaboración a
        distancia y procedimientos sanitarios. Su versatilidad la convierte en
        una herramienta valiosa en muchos campos.
      </li>
      <li>
        <strong>Aumento de la productividad</strong>: Al proporcionar
        información y orientación en tiempo real, la RA puede mejorar la
        eficiencia y la productividad en diversas tareas. Por ejemplo, las
        instrucciones basadas en RA pueden ayudar a los trabajadores en procesos
        de montaje complejos, reduciendo errores y acelerando el flujo de
        trabajo.
      </li>
    </ol>
    <h2>Desventajas de la realidad aumentada</h2>
    <ol>
      <li>
        <strong>Coste de desarrollo</strong>: Proyectos y dispositivos basados
        en RA pueden resultar caros. La producción y el mantenimiento de
        dispositivos de RA requieren inversiones significativas en
        investigación, desarrollo e infraestructura, lo que puede limitar su
        accesibilidad y adopción generalizada.
      </li>
      <li>
        <strong>Retos técnicos</strong>: Los sistemas de RA deben seguir con
        precisión los movimientos del usuario y alinear con exactitud los
        elementos digitales con el entorno real. Alcanzar este nivel de
        precisión puede ser un reto técnico que requiere soluciones avanzadas de
        hardware y software.
      </li>
      <li>
        <strong>Problemas de salud y seguridad</strong>: La exposición
        prolongada a experiencias de RA puede provocar fatiga visual, cansancio
        y desorientación<sup>[1]</sup>.
      </li>
    </ol>
    @defer {
    <app-comments></app-comments>
    } @placeholder {
    <p>.</p>
    } @loading {
    <p>Cargando comentarios</p>
    }
  </div>
</section>
