<p>user works!</p>

<section>
  @if (isLoggedIn) {
  <p>Bienvenido {{ username }}</p>
  <picture>
    <img
      (click)="greet()"
      src="https://github.com/mejiaale01.png"
      alt="photo"
    />
  </picture>
  } @else {
  <p>Inicia Sesión</p>
  <button (click)="isLoggedIn = true" class="btn btn-outline-primary">
    Login
  </button>
  }
  <app-games
    (favGame)="getFavorite($event)"
    username="{{ username }}"
  ></app-games>

  @if (favGame != '') {
  <p>Tu juego favorito es: {{ favGame }}</p>
  }
</section>
